@{
    ViewData["Title"] = "Home Page";
}

<h2> Bienvenido a mi sitio web</h2>

<p>
    Por favor, utilice los comandos para navegar
    <a href = "https://www.google.com">Google</a> 
</p>

<p>
    Para mas informacion: <a asp-action="Contactenos">Ir a formulario de contacto</a>
</p>

<a asp-action="Index" asp-controller="Contactos">Listado de contactos</a>
